@font-face {
  font-family: "Asap";
  src: url("http://allfont.ru/allfont.css?fonts=asap");
  src: url("/assets/fonts/Asap-Regular.otf");
}

@font-face {
  font-family: "Lucida Sans Unicode";
  src: url("http://allfont.ru/allfont.css?fonts=lucida-sans-unicode");
}

@font-face {
  font-family: "SegoeWP";
  src: url("/assets/fonts/SegoeWP.ttf");
}

@font-face {
  font-family: "Myriad Pro";
  src: url("/assets/fonts/MYRIADPRO-REGULAR.OTF");
}
