* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  box-sizing: content-box;
}
body {
  background-color: #282828;
}

:root {
  --color-yellow: #f5c507;
}

svg {
  fill: var(--color-yellow);
  transition: 0.2s ease;
}

.grid-center-item {
  display: grid;
}

.grid-container {
  max-width: 1300px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: minmax(auto, 140px) auto minmax(auto, 140px);
  grid-template-rows: 165px 400px auto 64px;
}

.btn {
  background: var(--color-yellow);
  transition: 0.2s linear;
}
.btn:hover {
  background: khaki;
}
.btn:hover > svg {
  fill: #9b7d08;
}

/* header */
header {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;

  display: flex;
  padding: 28px 0 53px;
  z-index: 100;
  text-transform: uppercase;
}
.header-bg-img {
  grid-row: 1 / span 2;
  grid-column: 1 / span 3;
  background-color: #2f2b14;
  background-image: url("/assets/images/Layer\ 20.jpg");
  background-position: center center;
  background-size: cover;
}

.logo {
  display: grid;
}
.logo > svg {
  display: grid;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  height: 83px;
  width: 83px;
}
.logo-2 {
  opacity: 0.5;
}

.header-title {
  color: #fff;
  font-family: "Lucida Sans Unicode", arial, sans-serif;
  font-size: 41px;
  font-style: italic;
  margin-top: 17px;
  margin-right: 30px;
}

/* nav */
nav {
  display: grid;
  margin-left: auto;
  max-width: 453px;
  width: 100%;
  height: 41px;
  align-self: flex-end;
  font-weight: 600;
}

header a {
  font-family: "SegoeWP", arial, sans-serif;
  font-size: 17px;
  height: 100%;
  width: 100%;

  background: var(--color-yellow);
  color: #9b7d08;

  display: flex;
  align-items: center;
  justify-content: center;
}
nav svg {
  height: 19px;
  width: 20px;
  fill: #9b7d08;
  margin-right: 7px;
}

.header-nav > div:nth-child(1) {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  display: flex;
  max-width: 453px;
  height: 41px;
  width: 100%;
  z-index: 100;
}
.header-nav > div:nth-child(2) {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;

  background: var(--color-yellow);
  opacity: 0.27;

  position: relative;
  bottom: 4px;
  right: 4px;
}
.header-nav > div:nth-child(3) {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;

  background: var(--color-yellow);
  opacity: 0.27;

  position: relative;
  bottom: 8px;
  right: 8px;
}

.btn-key {
  border-width: 0px 1px 0px 1px;
  border-color: #dcb105;
  border-style: solid;
  padding: 0 19px 0 16px;
  width: auto;
}
.btn-letter {
  width: auto;
  padding: 0 22px 0 18px;
}

.svg-person {
  height: 19px;
  width: 21px;

  margin-left: 15px;
  margin-right: 11px;
}
.svg-key {
  height: 19px;
  width: 19px;
}

.svg-letter {
  height: 18px;
  width: 24px;
}

/* main */
main {
  grid-row: 2 / span 4;
  grid-column: 1 / span 3;

  display: grid;
  grid-template-columns: minmax(auto, 140px) auto minmax(auto, 140px);
  grid-template-rows: repeat(4, auto);
}

/* slider */
.slider {
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
  height: 400px;

  display: grid;
  grid-template-columns: minmax(auto, 150px) minmax(auto, 557px) auto minmax(auto, 150px);
  grid-template-rows: 328px;

  align-items: center;
}
.slider-video {
  position: relative;
  right: 4px;
  top: 5px;
  width: 100%;
}
.slider-description {
  text-align: center;
  font-size: 63px;
  font-family: "Asap", arial, sans-serif;
  text-transform: uppercase;
  padding: 0px 0px 25px 28px;
  line-height: 1.2;
}

.slider-description > p:nth-child(1) {
  text-align: center;
  color: #dcb105;
  letter-spacing: 0.7px;
  margin-right: 7px;
}
.slider-description > p:nth-child(2) {
  text-align: center;
  color: #fff;
  letter-spacing: 0.7px;
  margin-left: 7px;
}

.btn-slider-left,
.btn-slider-right {
  height: 57px;
  width: 32px;
  background: var(--color-yellow);
  display: grid;
  align-items: center;
  justify-items: center;
}

.btn-slider-left:hover,
.btn-slider-right:hover {
  background: khaki;
  width: 57px;
}

.btn-slider-right {
  margin-left: auto;
}
.arrow-l,
.arrow-r {
  height: 19px;
  width: 13px;
  fill: #fff;
}
.icons-bar {
  grid-row: 2 / span 1;
  grid-column: 1 / span 3;
  height: 212px;

  background: #f7f7f7;
}
.news {
  grid-row: 3 / span 1;
  grid-column: 1 / span 3;
  height: 509px;

  background: #f5c507;
}
.benefits {
  grid-row: 4 / span 1;
  grid-column: 1 / span 3;
  height: 498px;

  background-color: #4c4c4c;
}

footer {
  grid-row: 6 / span 1;
  grid-column: 1 / span 3;
  height: 64px;

  background-color: #4c4c4c;
}
